@using System.Web.UI.WebControls
@using Zoo
<!DOCTYPE html>
<html ng-app="ZooApp" ng-controller="MainCtrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{application.title}}</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-ui")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/Content/bundle.js")
    @Templates.Render("~/Content/partials/bundle.html")
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                <a class="navbar-brand" href="/animals">{{application.title}}</a>
            </div>

            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav" data-br-navbar>
                    <li data-match-route="/animals">
                        <a href="#/animals">Loomad</a>
                    </li>
                </ul>*@
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input class="form-control" ng-model="filterOptions.filterText" br-focus="filterOptions.focus" type="text" placeholder="Filter..." title="Filter the data on the page" />
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @*﻿<div class="jumbotron">
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>*@
        <div class="row">
            <div class="col-md-12">
                <h2>Getting started...</h2>
                <div class="view" ng-view></div>
            </div>
        </div>
        @RenderBody()
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MS</p>
        </footer>
    </div>


    @*@RenderSection("scripts", required: false)*@
</body>
</html>
